/* this is my stylesheet for the homepage */
/* table of contents */
/* header styles */
/* main body styles */
/* footer styles */

h1, h6{font-family: cursive;}
header{}
header h1 {color: red; background-color: black;}
nav{
}

footer{}

body{background-color: silver;}



/* header styles*/

/* main body styles */

/* footer styles */
